@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input {
  background-color: #4c2885;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 2rem;
}
input::placeholder {
  color: #bbb;
}
input:focus {
  outline: none;
}
.card {
  background-color: #4c2885;
  background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 99%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  max-width: 800px;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avater {
  height: 150px;
  width: 150px;
  border: 10px solid #2a2a72;
  border-radius: 50%;
}

.user-info {
  color: #eeee;
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 300px;
}

.user-info ul li strong {
  font-size: .8rem;
}

@media screen and (max-width: 768px) {
}
